                                               ASSIGNMENT 1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
name = "Aniket Surve"
ListMarks =["physics", "maths", "science", 95,96,98]
fl=34.09
tuplemarks=(35,34,"Aniket")

In [1]:
tuplemarks=(34,35,"Aniket")

In [2]:
print(tuplemarks)

(34, 35, 'Aniket')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [3]:
var1=' '

In [4]:
print(type(var1))

<class 'str'>

In [6]:
var2 = '[ DS , ML , Python]'

In [7]:
print(type(var2))

<class 'str'>

In [9]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [10]:
print(type(var3))

<class 'list'>

In [11]:
var4 = 1

In [12]:
print(type(var4))

<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

The / operator is the division operator in most programming languages. It is used to divide one number by another and obtain the quotient as a result. For example:


10 / 3

The % operator is known as the modulo operator. It is used to find the remainder of the division operation. For example:


10 % 3


The // operator is known as the floor division operator or integer division operator. It performs division and rounds down the result to the nearest whole number or integer. For example:


10 // 3

In this example, 10 is divided by 3, and the result is 3


The ** operator is the exponentiation operator. It is used to raise a number to a specific power. For example:

2 ** 3

In this case, 2 is raised to the power of 3, resulting in 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [13]:
ListLength= [98,99,23,23,45,6,6,"Aniket","Surve",34.05]

In [14]:
for i in ListLength:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [16]:
A=24
B=4
count =0

while A%B==0:
    A=A//B
    count+=1
print("Number of times", B, "divides" ,A, "is", count)

Number of times 4 divides 6 is 1

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [17]:
numbers = [7,9,12,15,18,19,24,30,33,34,45,60,12,32,36,39,42,48,38,31,11,56,5,7,58]

for number in numbers:
    if number%3==0:
        print("number is divisible by three")
    else:
        print("number is not divisible by three")

number is not divisible by three
number is divisible by three
number is divisible by three
number is divisible by three
number is divisible by three
number is not divisible by three
number is divisible by three
number is divisible by three
number is divisible by three
number is not divisible by three
number is divisible by three
number is divisible by three
number is divisible by three
number is not divisible by three
number is divisible by three
number is divisible by three
number is divisible by three
number is divisible by three
number is not divisible by three
number is not divisible by three
number is not divisible by three
number is not divisible by three
number is not divisible by three
number is not divisible by three
number is not divisible by three

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [18]:
l=[2,3,4,5,"Ani","Sur"]

In [20]:
l[2]

4

In [21]:
l[2]="Physics"

In [22]:
l

[2, 3, 'Physics', 5, 'Ani', 'Sur']

Lists are mutuable above example is of mutuable datatype

In [ ]:
Immutable DataType Example

In [23]:
s="name"

In [24]:
print(s)

name

In [25]:
s="ani"

In [26]:
print(s)

ani

Mutable data types are those whose values can be changed or modified after they are created. This means you can modify individual elements or attributes within the data structure without creating a new instance
Immutable data types are those whose values cannot be changed or modified after they are created. If you need to modify the value, you have to create a completely new instance of the data type. Immutable objects, once created, remain unchanged throughout their lifetime.